@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1e293b;
    --primary-foreground: #f8fafc;
    --root-blue: #35509a;
    --text-button: #fff;
    --root-violet: #9294f8;
    --root-cyan: #0505a9;
    --root-red: #ff0000;
    --root-green-bold: #047857;
    --root-background-table: #f8fafc;

    --root-background: #dce7f5;
    
    --root-dark: #0f172a;
    --root-base: #f4f4f4;
    --root-green: #6ee7b7;
    --root-orange: #c9a83f;
    --root-orange-dark: #f38e1b;
    --root-mint: #047857;
    --root-mint-dark: #6ee7b7;

    --white: #FFF;
    --black: #2E2B29;
    --black-contrast: #110F0E;
    --gray-1: rgba(61, 37, 20, 0.05);
    --gray-2: rgba(61, 37, 20, 0.08);
    --gray-3: rgba(61, 37, 20, 0.12);
    --gray-4: rgba(53, 38, 28, 0.30);
    --gray-5: rgba(28, 25, 23, 0.60);
    --green: #22C55E;
    --purple: #6A00F5;
    --purple-contrast: #5800CC;
    --purple-light: rgba(88, 5, 255, 0.05);
    --yellow-contrast: #FACC15;
    --yellow: rgba(250, 204, 21, 0.4);
    --yellow-light: #FFFAE5;
    --red: #FF5C33;
    --red-light: #FFEBE5;
    --shadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04);    
    --root-text: #1e293b;

    --code-block: #ececec;
  }
  html[data-theme='dark-classic'] {
    --primary: #cbd5e1;
    --primary-foreground: #0f172a;
    --text-button: #fff;
    --root-background-table: #2d3748;
    --root-background: #0f172a;
    --root-item: #1C252E;
    --root-text: #f8fafc;
    --root-blue: #899ed8;

    --gray-3: #ffffff26;
    --code-block: #424242;
  }
  html[data-theme='tangerine'] {
    --primary: #fff;
    --primary-foreground: #242526;
    --text-button: #1e293b;
    --root-background-table: #2d3748;
    --root-background: #2B2B2B;
    --root-text: #f8fafc;

    --code-block: #424242;
  }
  html[data-theme='dark-tangerine'] {
    --primary: #d97706;
    --primary-foreground: #242526;
    --text-button: #1e293b;
    --root-background-table: #2d3748;
    --root-background: #2B2B2B;
  }
  html[data-theme='mint'] {
    --primary: #6ee7b7;
    --primary-foreground: #141A21;
    --text-button: #1e293b;
    --root-background-table: #2d3748;
    --root-background: #1C252E;
  }
  html[data-theme='dark-mint'] {
    --primary: #047857;
    --primary-foreground: #f8fafc;
    --text-button: #1e293b;
    --root-background-table: #2d3748;
    --root-background: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

